# RabbitMQ
RABBITMQ_DEFAULT_USER=secureTrust
RABBITMQ_DEFAULT_PASS=Test4321
RABBITMQ_PERSISTENT_MESSAGES=true

# POSTGRES
POSTGRES_PORT=5432
POSTGRES_DB=stb_db
POSTGRES_USER=secureTrust
POSTGRES_PASSWORD=Test4321
