<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome to SecureTrust Bank</title>
</head>

<body>
  <header style="background-color: #0070C0; color: #fff; padding: 10px;">
    <h1>SecureTrust Bank</h1>
  </header>

  <h3>Welcome to SecureTrust Bank!</h3>
  <p>Dear customer,</p>
  <p>Thank you for choosing SecureTrust Bank. We are pleased to inform you that your new account has been created successfully.</p>
  <p>Below are the details of your account:</p>
  <ul>
    <li><strong>Account Name:</strong> {{name}}</li>
    <li><strong>Account Number:</strong> {{number}}</li>
  </ul>
  <p>To ensure the security of your account, we kindly request you to set a PIN for transactions. This PIN will be required for any financial transactions you make.</p>

  <footer style="background-color: #0070C0; color: #fff; padding: 10px;">
    &copy; 2023 SecureTrust Bank
  </footer>
</body>

</html>
