<!DOCTYPE html>
    <html lang="en">

    <head>
      <title>Welcome to SecureTrust Bank</title>
    </head>

    <body>
      <header style="background-color: #0070C0; color: #fff; padding: 10px;">
        <h1>SecureTrust Bank</h1>
      </header>

      <h3>Welcome to SecureTrust Bank, {{first_name}}!</h3>
      <p>Thank you for choosing SecureTrust Bank as your banking partner.</p>
      <p>To fully enjoy our banking services, we kindly ask you to complete your profile.</p>
      <p>Completing your profile will enable us to provide you with your bank account number and personalized banking experience.</p>
      <p>Please log in to your SecureTrust Bank account and navigate to the profile section to complete the necessary information.</p>
      <p>If you have any questions or need assistance, please don't hesitate to contact our customer support.</p>

      <footer style="background-color: #0070C0; color: #fff; padding: 10px;">
        &copy; 2023 SecureTrust Bank
      </footer>
    </body>

    </html>