<!DOCTYPE html>
<html lang="en">

<head>
  <title>Verify Your Account</title>
</head>

<body>
  <header style="background-color: #0070C0; color: #fff; padding: 10px;">
    <h1>SecureTrust Bank</h1>
  </header>

  <h3>Verify Your Account</h3>
  <p>Hi <b>{{first_name}}</b>, thanks for registering an account with us.</p>
  <p>Please verify your account by using this code <strong>{{otp}}</strong></p>
  <br />
  <p>Kindly note that this code will be valid for the next 30 minutes only</p>

  <footer style="background-color: #0070C0; color: #fff; padding: 10px;">
    &copy; {{currentYear}} SecureTrust Bank
  </footer>
</body>

</html>
