# Ignore Docker-specific files
.dockerignore

# Ignore Maven build artifacts
target/

# Ignore Gradle build artifacts
build/

# Ignore IDE-specific files
.idea/
.vscode/
*.iml

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore test and code coverage reports
test-reports/
jacoco/

# Ignore version control files
.git/
.gitignore

# Ignore miscellaneous files
*.DS_Store
