PORT=3500
NODE_ENV=development
AWS_ACCESS_KEY_ID=my_key
AWS_SECRET_ACCESS_KEY=myAccess
AWS_REGION=eu-west-1
AWS_S3_EMULATOR_ENDPOINT=http://aws-emulator:4566
AWS_BUCKET_NAME=my-bucket
AMQP_URL=amqp://secureTrust:Test4321@rabbitmq:5672
